<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>All products in Webstore</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
</head>
<body>
<section>
    <div th:class="jumbotron">
        <div th:class="container">
            <h1>Products</h1>
            <p>All products currently available in our store</p>
        </div>
    </div>
</section>
<section th:class="container">
    <div th:class="row">
        <div class="col-sm-6 col-md-3" style="padding-bottom: 15px" th:each="product : ${products}">
            <div th:class="thumbnail">
                <div th:class="caption">
                    <h3 th:text="${product.name}"></h3>
                    <p th:text="${product.description}"></p>
                    <p th:text="(${product.unitPrice} + ' PLN')"></p>
                    <p th:text="'Liczba sztuk w magazynie: ' + ${product.unitsInStock}"></p>
                </div>
            </div>
        </div>
    </div>
</section>





</body>
</html>